.storeProducts{
    height: 400px;
    overflow: auto;
}

.storeProducts li {
    border-bottom: 1px solid #ccc;
}

#logo{
    width: 100px;
}

#zoneName{
    margin: auto;
    width: fit-content;
    margin-top: 30px;
}

#toolBar button{
    display: none;
}

.optimalOrder{
    z-index: 3;
}

.summary-container{
    width: fit-content;
    margin: auto;
    font-size: 13px;
    font-family: "Courier New", Courier, monospace;
}
.storeSum{
    border-bottom: 1px solid #ccc;
}

.summaryButtons {
    text-align: center;
}

.summaryButtons>button {
    margin: 10px;
    width: 100px;
}

.orderSum {
    border-bottom: 1px dashed #ccc;
}

body>div>h2{
    width: fit-content;
    margin: 10px auto;
}

.checked
{
    color:#ffae51;
}
.stars{
    width: fit-content;
}

.exit{
    position: fixed;
}

.feedback{
    background: white;
    padding: 10px;
}

.feedback:nth-child(2) {
    background: #f2f2f2;
}
.feedback:hover{
    background: #ffdcb7;
}
