body{
    margin:0;
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#toolBar{
    position: relative;
    background-color: #333;
    color: white;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    overflow: hidden;
}


button, .button{
    background-color: #333;
    border: none;
    color: white;
    padding: 8px 16px;
}

button:hover, .button:hover{
    background-color: #ddd;
    color: black;
}

.error{
    background-color: #ffcccc;
    color: red;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:hover {background-color: #ffdcb7;}

th {
    background-color: #ffae51;
    color: white;
    top: 0;
    position: sticky;
}


.popup-window{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    overflow: hidden;
    background-color: #bbbbbb8f;
}
.popup-window>div{
    position: fixed;
    background-color: #fff;
    height: 70%;
    width: 50%;
    top: 15%;
    left: 25%;
}

form{
    box-sizing: border-box;
    text-align: center;
    padding: 2%;
    background-color: white;
}

input{
    margin-bottom: 1rem;
    text-align: left;
    padding: 7px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.show {display:block;}