*{
	theme-primary-color:#563f46;
	theme-secondery-color:#c8c3cc;
	theme-titles-color:#8ca3a3;
	theme-backround-color:#484f4f;
}

.root{
-fx-font: bold 15px serif;
}

#content .label{
	-fx-text-fill: #ffffff;
	-fx-font-size: 25px;
}

#content .button{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(theme-primary-color, #1d1618),
        radial-gradient(center 50% 0%, radius 100%, theme-primary-color, rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}