*{
	theme-primary-color:#7b68ee;
	theme-secondery-color:#d6d4e0;
	theme-titles-color:#E7BD25;
	theme-backround-color:white;
}

#content .label{
	-fx-text-fill: #220f8a;
	-fx-font-size: 18px;
}

#content .button{
   -fx-background-color: theme-primary-color;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}