*{
	theme-primary-color:#c94c4c;
	theme-secondery-color:#b1cbbb;
	theme-titles-color:#eea29a;
	theme-backround-color:#deeaee;

}

.root{
	-fx-font: italic 15px monospace;
}

#content .label{
	-fx-font-size: 15px;
}


#content .button{
   -fx-background-color: linear-gradient(theme-primary-color, #b13535);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}